Data analysis/Translation.xlsx
Data analysis/.idea/Data analysis.iml
*.xml
Data analysis/basic-line.html
Data analysis/Distplot with Multiple Datasets.html
Data analysis/histogram.html
*.pyc
Data analysis/.ipynb_checkpoints/Analysis-checkpoint.ipynb
Data analysis/jupyter/histogram.html
Data analysis/make-subplots-multiple-with-titles.html
Data analysis/jupyter/subject_responses.html
Data analysis/subject_responses.html
Data analysis/line-mode.html
Data analysis/jupyter/all_responses.html
For the next one.docx
Data analysis/~$Noise analysis.xlsx
Data analysis/.ipynb_checkpoints/Catmull-Rom Analysis-checkpoint.ipynb
Data analysis/libs
*.json
Data analysis/output/results_posterior.json
Data analysis/.ipynb_checkpoints/2- Paper-work-checkpoint.ipynb
Data analysis/.ipynb_checkpoints/3- New compositional analysis-checkpoint.ipynb
Data analysis/.ipynb_checkpoints/2- Paper work (R)-checkpoint.ipynb
Data analysis/.ipynb_checkpoints/1- Compositional Analysis - GPflow - Full Bayesian-checkpoint.ipynb
Data analysis/output/cross-validation-prior/results_prior_0_lmls.csv
Data analysis/output/cross-validation-prior/results_prior_1_lmls.csv
Data analysis/output/cross-validation-prior/results_prior_2_lmls.csv
Data analysis/output/cross-validation-prior/results_prior_5_lmls.csv
Data analysis/output/cross-validation-prior/results_prior_4_lmls.csv
Data analysis/output/cross-validation-prior/results_prior_0_predictions.csv
Data analysis/output/cross-validation-prior/results_prior_3_lmls.csv
Data analysis/output/cross-validation-prior/results_prior_1_predictions.csv
Data analysis/output/cross-validation-prior/results_prior_2_predictions.csv
Data analysis/output/cross-validation-prior/results_prior_4_predictions.csv
Data analysis/output/cross-validation-prior/results_prior_3_predictions.csv
Data analysis/output/cross-validation-prior/results_prior_5_predictions.csv
Data analysis/output/full-bayesian-posterior/results_posterior_test_predictions.csv
Data analysis/output/minus-mean-treatment/results_prior_predictions.csv
Data analysis/output/minus-mean-treatment/results_posterior_predictions.csv
Data analysis/output/minus-mean-treatment/results_posterior_participants_predictions.csv
